+keyframes(spin)
  0%
    transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    -webkit-transform: rotate(360deg)

body
  &>.container
    margin-top: 10px

  table.table
    td
      line-height: 30px

  .nav
    .google-drive
      img
        width: 50px

      &.pending
        img
          -webkit-filter: grayscale(100%)
          -moz-filter: grayscale(100%)
          filter: grayscale(100%)

          -webkit-animation: spin 5s linear infinite
          -moz-animation: spin 5s linear infinite
          animation: spin 5s linear infinite
