.sign-in

  .money-tree
    img
      margin-top: 2%
      width: 60%
      position: fixed

  .form
    position: absolute
    right: 5%
    top: 40%

    .social-buttons
      .google
        img
          width: 285px
          cursor: pointer
